.checkbox {
  display  : inline-block;
  position : relative;
  width    : 45px;
  height   : 45px;
  margin   : 2px;
  border   : 2px solid #ccc;
  overflow : hidden;

  &.checked::after {
    content                     : '\2713';
    display                     : block;
    color                       : $blue;
    opacity                     : 0;
    text-align                  : center;
    font-size                   : 30px;
    font-weight                 : bold;
    animation                   : check 1s cubic-bezier(.75,.17,.33,.82) 0.1s 1 normal forwards;
    -webkit-animation-fill-mode : forwards;
    transform                   : translate3d(0px,0px,0px);
  }

  &.checked::before {
    content                     : '';
    display                     : block;
    position                    : absolute;
    top                         : 5%;
    left                        : 5%;
    width                       : 90%;
    height                      : 90%;
    opacity                     : 0;
    border-radius               : 50%;
    background                  : #2196F3;
    animation                   : check-circle 0.45s cubic-bezier(.75,.17,.33,.82) 0.4s 1;
    -webkit-animation-fill-mode : forwards;
    transform                   : translate3d(0px,0px,0px);
  }
}
