.firsttimeinterests-view .community-list-items,
.createeventinterests-view .community-list-items,
.myinterests-view .community-list-items {
    max-height: calc(100vh - 170px);
}

.community-list {
    > .mui-textfield {
        margin: 0 15px 20px 10px;
    }
}

.community-list-items {
    margin-top: 3px;

    overflow-y: scroll;

    /* hardware accel */
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;

    display: flex;
    flex-direction: column;

    .community-list-item {
        $padding: 8px;
        $left_column_width: 45px;

        transform: translate3d(0px,0px,0px);

        position: relative;
        flex-grow: 1;

        margin: 0;
        padding: 0 #{$padding};

        border-bottom: 1px solid #fff;

        &:active, &:focus {
            background: $faded_orange;
        }

        .left-column, .right-column {
            display: inline-block;
        }

        .left-column {
            float: left;
            text-align: center;

            .private {
                display: inline-block;
                position: relative;
                width: 45px;
                height: 45px;
                margin: 2px;
                border: 2px solid #ccc;
                overflow: hidden;
                font-size: 3rem;
                color: $orange;
            }
        }

        .right-column {
            float: right;
            width: calc(100% - 4px - #{$padding} - #{$left_column_width});
            outline: none;

            .name {
                font-size: 18px;
            }

            &:not(.expanded) .name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .description {
                font-size: 14px;
            }

            &.expanded .description {
                margin-bottom: 5px;
            }

            &:not(.expanded) .description {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

    }

}
