.event-details {

    .date {
        overflow: hidden;
        text-align: center;
        padding: 4px 10px;
        font-size: 12px;
        width: 100%;
        display: block;
        margin: 0;

        border-top: 1px solid #fff;
        background: $orange;
        color: #fff;

        .single {
            float: right;
        }

        .start {
            float: left;
        }

        .end {
            float: right;
        }

        .to {

        }
    }

    .description {
        max-height: calc(100vh - 420px);
        overflow-y: scroll;
    }

    .communities {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        overflow-x: scroll;
        margin: 0;
        text-align: center;
        border-bottom: 2px solid $orange;
        padding: 8px 0;

        .community {
            border-radius: 50px;
            font-size: 1.4em;
            padding: 5px 10px;
            margin: 0.1em 0.25em;

            border: 2px solid $orange;
            color: $orange;
        }
    }
}
