.discover-view .height-sizer {
    height: calc(100vh - 342px);
    overflow-y: scroll;

    /* hardware accel */
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
}

.map-listings {
    .event-list {
        margin: 3px 0 0 0;
        padding: 0 5px;

        display: table;
        table-layout: fixed;
        width: 100%;

        /* hardware accel */
        transform: translate3d(0px,0px,0px);
        -webkit-backface-visibility: hidden;

        .event-list-item {
            $padding: 8px;
            $right_column_width: 45px;

            position: relative;
            margin: 3px 0;
            padding: 0 #{$padding};
            display: table-row;

            border-bottom: 1px solid #fff;

            &:active, &:focus {
                background: $faded_orange;
            }

            .left-column, .right-column {
                display: inline-block;
            }

            .left-column {
                width: 90%;
                display: table-cell;

                .name {
                    font-size: 18px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .communities {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    span {
                        margin-right: 2px;
                    }
                }
            }

            .right-column {
                display: table-cell;
                text-align: center;

                .distance {
                    font-size: 15px;

                    .unit {
                        font-size: 0.7em;
                        display: block;
                    }
                }
            }
        }

        > .error {
            font-size: 1.5em;
            text-align: center;
            padding: 20px;
            color: #fff;

            span {
                font-size: 1.5em;
                color: #000;
            }

            i.fa {
                display: block;
                font-size: 3em;
                margin: 20px 0;
                transform: translate3d(0px,0px,0px);
                color: $orange;
            }
        }

    }
}
