.event-header {
    padding: 20px 20px 4px 20px;

    .title {
        font-size: 30px;
    }
}

.event-details {

    .date {
        overflow: hidden;
        text-align: center;
        padding: 4px 10px;
        font-size: 12px;
        width: 100%;
        display: block;
        width: 98%;
        margin: 0 auto;

        .single {
            float: right;
        }

        .start {
            float: left;
        }

        .end {
            float: right;
        }

        .to {
            color: #777;
        }
    }

    .description {
        white-space: pre-wrap;
        font-size: 1.45em;
        padding: 0.5em;
        margin: 0.8em 0.5em;
        border-radius: 3px;
    }

    .communities {
        display: block;
        width: 100%;
        margin: 10px 0.5em;

        .community {
            border-radius: 50px;
            font-size: 1.4em;
            padding: 5px 10px;
            background: #83c0f1;
            color: #fff;
            margin-right: 0.2em;
        }
    }
}

.event-actions {
    text-align: center;
    margin-top: 1em;
}
