.map-container {
    .map, .leaflet-container {
        width: 100%;
        height: 200px;
        /*background: #cbdbff;*/

        .leaflet-control-container {
            display: none;
        }
    }

    &.small {
        .map, .leaflet-container {
            height: 130px;
        }
    }

    .map.map-error {
        font-size: 1.5em;
        text-align: center;
        padding: 20px;
        background: $orange;
        color: #fff;

        i.fa {
            display: block;
            font-size: 3em;
            margin: 20px 0;
            transform: translate3d(0px,0px,0px);
        }
    }

    .marker-here {
        background: rgba(33, 150, 243, 0.28);
        border-radius: 50%;
        position: relative;
        width: 20px;
        height: 20px;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: transparent;
            border-radius: 50%;
            opacity: 0.1;
            display: block;

            border: 3px solid $blue;
            position: absolute;
            transform: scale(1);

            animation: marker-pulse 0.9s cubic-bezier(.75,.17,.33,.82) 0.1s infinite normal;
        }
    }

    .marker-event {
        color: $blue;
        font-size: 2.5rem;
        pointer-events: auto;

        &::before {
            display: block;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            position: absolute;
        }
    }
}
