.map-container {
    .map, .leaflet-container {
        width: 100%;
        height: 200px;
        /*background: #cbdbff;*/

        .leaflet-control-container {
            display: none;
        }
    }

    &.small {
        .map, .leaflet-container {
            height: 130px;
        }
    }

    .map.map-error {
        font-size: 1.5em;
        text-align: center;
        padding: 20px;
        background: $blue;
        color: #fff;

        i.fa {
            display: block;
            font-size: 3em;
            margin: 20px 0;
            transform: translate3d(0px,0px,0px);
        }
    }
}
