.myevents-content {
    height: calc(100vh - 105px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .list-header {
        font-size: 1.4em;
        margin-left: 10px;
        margin-top: 5px;
        border-bottom: 1px solid $orange;
        display: inline-block;
    }

    .event-list {
        max-height: 250px;
        overflow-y: scroll;
    }
}
