a {
    color: $orange;
}

.message {
    padding: 10px;
    margin: 0;
    width: 100%;
    color: #000;
    font-size: 14px;

    &.bordered {
        border-bottom: 2px solid $orange;
    }

    &.large {
        font-size: 18px;
    }

    &.center {
        text-align: center;
    }
}
