.mui-appbar {
    text-align: center;
    position: relative;
    background: $orange;
    z-index: 99999;

    span.title {
        font-size: 36px;
    }
}

.titlebar {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;

    div.btn-next {
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;

        span.fa {
            font-size: 2.15em;
        }

        span.label {
            font-size: 0.8em;
            display: block;
            text-transform: uppercase;
        }

        &:hover, &:active {
            opacity: 0.8;
        }
    }

    div.btn-notifications {
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;

        > .fa {
            font-size: 2.75rem;
            text-align: center;
            vertical-align: middle;
            position: relative;

            .label {
                position: absolute;
                background: #fff;
                color: $orange;
                text-align: center;
                height: 2rem;
                top: -0.6rem;
                right: -0.3rem;
                width: 2rem;
                line-height: 2rem;
                font-size: 1rem;
                border-radius: 50%;
                border: 1px solid #fff;
            }
        }

        &:hover, &:active {
            opacity: 0.8;
        }
    }

    div.btn-drawer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        left: 12.5px;
        padding: 2.5px 5px;

        transition: transform 0.5s;

        &:hover, &:focus {
            transform: translateY(-50%) scale(1.2);
        }
    }

    div.drawer {
        width: 65vw;
        background: $orange;
        padding: 30px 0 0 0;
        margin: 0;
        z-index: 9990;
        position: absolute;
        top: 56px;

        height: calc(100vh - 56px);

        transition: transform 0.4s ease;

        ul {
            list-style: none;
            padding: 0;
            margin: 10px 0;
            width: 100%;

            li {
                padding: 0.8em 0;
                text-align: center;
                color: #fff;
                font-weight: bold;
                font-size: 1.4em;
                background: #ffc482;
                border-radius: 2px;
                margin: 2px;
            }

            li:hover, li:active {
                background: $orange;
            }
        }

        ul.settings {
            margin-top: 20px;
        }

        div.divider {
            width: 90%;
            margin: 0 auto;
            height: 2px;
            background: #ccc;
            opacity: 0.2;
        }
    }

    div.drawer.closed {
        transform: translate3d(-65vw,0px,0px);
    }

    div.drawer.open {
        transform: translate3d(0vw,0px,0px);
    }

    div.notifications {
        background: $orange;
        position: fixed;
        padding: 5px 0;
        left: 0;
        top: 56px;
        width: 100%;
        z-index: 999;

        .notifications-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .notification {
            display: flex;

            margin: 2px 4.5px;
            border-radius: 3px;
            box-shadow: 0px 0px 1px #ccc;
            border: 1px solid transparent;
            background: #fff;
            padding: 7px;

            .msg {
                flex-grow: 1;
            }

            .type {
                flex-shrink: 1;
                padding: 3px;
                color: $orange;
                font-size: 1.7rem;
            }

            &:hover, &:active {
                background: $faded_orange;
            }
        }

        transition: max-height 0.8s ease-out, opacity 0.05s linear;
        transform: translate3d(0px,0px,0px);
    }

    div.notifications.closed {
        max-height: 0;
        opacity: 0;
        overflow-y: hidden;
    }

    div.notifications.open {
        max-height: 40vh;
        opacity: 1;
        overflow-y: scroll;
        border-top: 2px solid #fff;
    }
}

.titlebar:not(.logged-in) {
    div.btn-drawer {
        display: none;
    }

    div.drawer {
        display: none;
    }

    div.notifications {
        display: none;
    }
}
