@import '_fonts';
@import '_colours';
@import '_animations';

@import '_defaults';

/* As we develop new css rules, we will decide on organization. E.g. imports. */

/* TitleBar */
@import '_titlebar';

.mui-container.expand {
    width: 100%;
    padding: 0;
}

@import '_text';

/* Login / Signup */

.mui-container.login-view, .mui-container.signup-view {
    margin-top: 20px;
}

/* Forms */
@import '_forms';

/* Discover */
@import '_discover';

/* Map & Event List */
@import '_eventlist';

/* Checkbox */
@import '_checkbox';

/* Community List */
@import '_communitylist';
